@model List<ShopTree.Models.ProductViewModel>

<div id="collection">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="breadcrumb clearfix">
                        <ul>
                            <li class="home">
                                <a title="Đến trang chủ" href="@Url.Action("Index", "Home")"><span itemprop="title">Trang chủ</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="product-content">
                        @if (Model == null)
                        {
                            <h1 title="products" class="page_heading">@ViewBag.Message</h1>
                        }
                        else
                        {
                            <h1 title="products" class="page_heading">Có @Model.Count kết quả phù hợp</h1>
                            <div class="product_list grid clearfix">
                                @foreach (var item in Model)
                                {
                                    Html.RenderAction("_ProductItem", "Products", item);
                                }
                            </div>
                        }
                    </div>
                    <!--Template--
                    --End-->
                </div>

                @{ Html.RenderAction("_CategoriesRight", "Home");}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu-quick-select ul").hide();
        $(".menu-quick-select").hover(function () {
            $(".menu-quick-select ul").show();
        }, function () {
            $(".menu-quick-select ul").hide();
        });
    });
</script>