
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="box-support-online">
                        <h3><span>Hỗ trợ trực tuyến</span></h3>
                        <div class="support-online-block">
                            <div class="support-hotline">
                                HOTLINE<br><span>0934 087 969</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div style=" padding:20px; color:red">
                        <h1>500 Internal Server Error :</h1>
                        <h4>Sorry, thứ bạn tìm kiếm không có ở đây</h4>
                        <br />
                        @Html.ActionLink("Bấm vào đây để trở về trang chủ", "Index", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu-quick-select ul").hide();
        $(".menu-quick-select").hover(function () {
            $(".menu-quick-select ul").show();
        }, function () {
            $(".menu-quick-select ul").hide();
        });
    });
</script>


