<div id="page">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="box-support-online">
                        <h3><span>Hỗ trợ trực tuyến</span></h3>
                        <div class="support-online-block">
                            <div class="support-hotline">
                                HOTLINE<br><span>0934 087 969</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="breadcrumb clearfix">
                        <ul>
                            <li class="home">
                                @Html.ActionLink("Trang chủ","Index","Home",new { @itemprop = "url" , @title = "Đến trang chủ"})
                            </li>
                            <li class="icon-li"><strong>Giới thiệu</strong> </li>
                        </ul>
                    </div>                    
                    <div class="about-detail content clearfix">
                        <h1 title="Về chúng tôi">
                            Về chúng tôi
                        </h1>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="rte">
                                <div>
                                    <div>
                                        <p>Fairy Garden chuyên cung cấp sỉ và lẻ các loại cây cảnh văn phòng, cây phong thủy với các sản phẩm chính sau:&nbsp;</p>

                                        <ul>
                                            <li><strong>Sen đá</strong></li>
                                            <li><strong>Xương rồng</strong></li>
                                            <li><strong>Lan</strong></li>
                                            <li><strong>Cây thường xuân</strong></li>
                                            <li><strong>Cây lưỡi hổ</strong></li>
                                            <li><strong>Cây phát tài</strong></li>
                                            <li><strong>Bonsai và các loại cây cảnh khác......</strong></li>
                                        </ul>
                                        <p>
                                            &#65279;Là một người rất yêu cây cảnh chúng tôi luôn mong muốn mang đến cho bạn một không gian đẹp, thoải mái và trong lành,
                                            tuy nhiên thì sau khi tìm hiểu và tham khảo thấy giá cả trên thị trường rất đắt đỏ,
                                            khiến cho ngay người cả người lớn, các bạn trẻ đam mê cây cảnh, yêu thích thiên nhiên phải từ bỏ thú vui này của mình.
                                            Hiểu được điều này web cây cảnh chúng tôi sẽ đem đến cho quý khách hàng mức giá tốt nhất,
                                            và chất lượng phục vụ cao nhất.
                                            <br />
                                            Đến với web cây cảnh chúng tôi bạn không chỉ đơn giản là mua cây,
                                            chúng tôi sẽ hướng dẫn các bạn chăm sóc, cũng như giúp bạn hiểu thêm về thế giới cây cảnh,
                                            thế giới thực vật ở nước chúng ta.
                                            Ngoài web cây cảnh sẵn sàng tư vấn miễn phí và trao đổi tới quý khách hàng khi cây xảy ra vấn đề,
                                            dù thuộc hay không thuộc cây website của chúng tôi.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menu-quick-select ul").hide();
        $(".menu-quick-select").hover(function () {
            $(".menu-quick-select ul").show();
        }, function () {
            $(".menu-quick-select ul").hide();
        });
    });
</script>